<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>add new lisitng</h3>
    <form method="post" action="/listings">
        <input type="text" name="listing[title]" placeholder="enter title"><br>
        <textarea name="listing[description]" placeholder="enter description"></textarea><br>
        <input type="text" name="listing[image]" placeholder="enter the url"><br>
        <input type="number" name="listing[price]" placeholder="enter the price"><br>
        <input type="text" name="listing[country]" placeholder="enter the country"><br>
        <input type="text" name="listing[location]" placeholder="enter the location"><br>
        <button>Add</button>
    </form>
</body>
</html>